@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Налоги в Приват24 для бизнеса</h1>
    <p class="lead">Налоги в Приват24 для бизнеса - это удобное Веб приложение для подсчета единого налога за определенный период.</p>
    <a href="@Url.Action("LoginToPB", "Account")" class="btn btn-success">Залогиниться в Приват24 еу</a>
</div>